/* Static values */
$dark: #0c4237;
$light: #fffef3;
$light-hover: #fffde6;

$green-cta: #c7ff9b;
$orange-cta: #ffc78b;

/* Theme overwrites */
$primary: $light;
$secondary: $dark;

$body-color: $light;
$body-bg: $dark;
$font-family-sans-serif: "Urbanist";

// enable full width navbar with edge padding
$navbar-padding-x: 2rem;

/* Mixins*/

@mixin border-button {
  width: 264px;
  height: 42px;
  border: 1px solid $light;
  border-radius: 16px;
  padding: 9px 20px;
  color: $light;
  background-color: $dark;
  text-transform: uppercase;
}

@mixin filled-button($theme) {
  width: 224px;
  height: 42px;
  border: none;
  border-radius: 16px;
  padding: 9px 20px;
  color: $dark;
  background-color: $theme;
  &:hover {
    background-color: darken($theme, 10%);
  }
  &.active {
    background-color: darken($theme, 10%);
  }
}

@mixin homepage-cta-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Required */
@import "bootstrap/scss/bootstrap";
