@import "./config";

.navBarCont {
  min-height: 96px;
  background-color: $dark;

  .navbar-brand,
  .nav-link {
    color: $light;
  }
  .navbar-brand {
    &:hover,
    &:focus {
      color: inherit;
    }
  }

  .menuLinks {
    justify-content: flex-end;
    text-transform: uppercase;
    font-weight: 700;
    .nav-link {
      margin-left: 32px;
      &:hover,
      &.active {
        color: darken($light, 10%);
      }
    }
  }

  .navbar-toggler-icon {
    border-radius: 4px;
    background-color: $light;
  }

  .btn.headerButton {
    @include start-insuring-button($theme: "light");
    margin-left: 32px;
  }

  .navbar-toggler {
    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }
    .navbar-toggler-icon {
      background-color: $dark;
    }
  }
}

@media (max-width: 768px) {
  .navBarCont {
    padding-top: 24px;
  }
  .navbar-collapse.menuLinks {
    padding: 24px 0;
    .nav-link,
    .headerButton {
      margin: 0;
    }
  }
}
