@import "./config";

/* General page styles */

.HomepageCont {
  height: 100%;
  margin-top: 96px;
  text-align: left;

  h2 {
    font-size: 56px;
    line-height: 64px;
    font-weight: bold;
    word-wrap: break-word;
  }

  .HomepageSectionCont {
    // height: calc(100vh - 96px);
    height: 100vh;
    margin: 48px 0;
  }

  .HomepageEdgeImgCont {
    img {
      max-width: 100%;
      height: 100%;
    }
  }

  .HomepageCTACont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .HomepageCTAHeader {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 4px;
  }
}

/* Dark section */
.DarkSectionCont {
  padding-top: 92px;
  .darkSectionStartInsuringCTA {
    margin-top: 16px;
    @include start-insuring-button($theme: light);
  }
}

/* Light section */
.LightSectionCont {
  height: 100%;
  color: $dark;
  background-color: $light;
  display: flex;
  align-items: center;

  .LightSectionCTACont {
    padding: 0 120px;
    .lightSectionStartInsuringCTA {
      margin-top: 16px;
      @include start-insuring-button($theme: light);
    }
  }
}

/* Splash section */
.HomepageSplashCont {
  padding: 0 140px;
  //TODO: media query to reduce/remove padding on mobile, change word-wrap rules
  h2 {
    z-index: 500;
    margin-right: 48px;
  }

  p {
    width: 50%;
  }

  .HomepageSplashImage {
    display: flex;
    justify-content: center;
    img {
      border-radius: 16px;
    }
  }

  .SplashButtonsCont {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 56px;
  }

  .SplashButton {
    @include cta-button($green-cta, $isFilled);
  }
}

/* auto section */
.autoCTACont {
  background-color: $dark;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0;
  color: $light;

  .autoCTAInput {
    height: 42px;
    border: none;
    border-radius: 16px;
    padding: 4px 32px;
  }

  .autoCTAs {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    .autoButton {
      @include cta-button($orange-cta, $isFilled: false);
    }
  }
}

/* Travel section */
.HomepageTravelCont {
  .HomepageCTACont {
    display: flex;
    flex-direction: column;
    padding: 0 120px;
    .travelCTACont {
      background-color: $light;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 48px 0;
      color: $dark;
      .travelCTAs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        color: $light;
        background-color: $dark;
        border-radius: 16px;
        margin: 8px 24px;
        padding: 32px 0;
        .travelButtonGroup {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          .travelButtonText {
            font-weight: bold;
            text-align: center;
            max-width: 224px;
          }
          .travelButton {
            @include cta-button($orange-cta, $isFilled: false);
          }
        }
      }
    }
  }
}
