@import "./config";

/* General page styles */

.HomepageCont {
  height: 100%;
  margin-top: 96px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 56px;
    line-height: 64px;
    font-weight: bold;
    word-wrap: break-word;
  }

  .HomepageSectionCont {
    width: 100%;
  }

  .HomepageEdgeImgCont {
    height: 100%;
    padding: 0;
    img {
      max-width: 100%;
      height: 100%;
      margin-left: -100px;
    }
    @media (max-width: 768px) {
      .HomepageEdgeImgCont {
        margin-left: 0;
      }
    }
  }

  .HomepageCTACont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .HomepageCTAHeader {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 4px;
  }
}

/* Dark section */
.DarkSectionCont {
  display: flex;
  align-items: center;
  height: 100vh;

  .DarkSectionCTACont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .darkSectionStartInsuringCTA {
    margin-top: 16px;
    @include start-insuring-button($theme: light);
  }
}

/* Light section */
.LightSectionCont {
  min-height: 100%;
  width: 100%;
  color: $dark;
  background-color: $light;
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  &.row {
    margin: 0;
  }

  .LightSectionCTACont {
    padding: 0 120px;
    .HomepageCTAArea {
      background-color: $dark;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 48px 0;
      color: $light;
    }
    .lightSectionStartInsuringCTA {
      margin-top: 16px;
      @include start-insuring-button($theme: light);
    }
  }
}

/* Splash section */
.HomepageSplashCont {
  display: flex;
  .DarkSectionCTACont {
    .DarkSectionCTAHeader {
      z-index: 500;
      margin-right: 48px;
      margin-bottom: 16px;
    }

    .DarkSectionCTASubheader {
      font-size: 20px;
      width: 50%;
      margin-bottom: 32px;
    }

    .SplashButtonsCont {
      display: flex;
      flex-direction: column;
      row-gap: 32px;
      .SplashButtonRow {
        display: flex;
        width: 100%;
        column-gap: 64px;
        .SplashButton {
          @include cta-button($green-cta, $isFilled: true);
        }
      }
    }
  }
  .HomepageSplashImage {
    display: flex;
    justify-content: center;
    img {
      border-radius: 16px;
    }
  }
}

/* auto section */
.autoCTACont {
  .autoCTAInput {
    height: 42px;
    border: none;
    border-radius: 16px;
    padding: 4px 32px;
  }

  .autoCTAs {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    .autoButton {
      @include cta-button($orange-cta, $isFilled: false);
    }
  }
}

/* Travel section */
.HomepageTravelCont {
  .HomepageCTACont {
    display: flex;
    flex-direction: column;
    padding: 0 120px;
    .travelCTACont {
      background-color: $light;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 48px 0;
      color: $dark;
      .travelCTAs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin: 8px 24px;
        padding: 32px 0;
        .travelButtonGroup {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          .travelButtonText {
            font-weight: bold;
            text-align: center;
            max-width: 224px;
          }
          .travelButton {
            @include cta-button($dark, $isFilled: false);
            &.active,
            &:hover {
              color: $light;
              border: none;
              background-color: $dark;
            }
          }
        }
      }
    }
  }
  .HomepageEdgeImgCont {
    display: flex;
    justify-content: flex-end;
    img {
      margin-right: -100px;
    }
    @media (max-width: 768px) {
      .HomepageEdgeImgCont img {
        margin-right: 0;
      }
    }
  }
}

/* Home section */
.HomepageHomeCont {
  .homeCTAs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 24px 0;
    .homeButton {
      @include cta-button($orange-cta, $isFilled: false);
    }
  }
}
